/*.bigDiv{*/
  /*margin: 0 auto;*/
  /*width: 50%;*/
  /*height: 100%;*/
/*}*/
/*table{*/
  /**/
/*}*/
.center{
  margin: 0 auto;
  width: 50%;
  height: 100%;
}
.red{
  color: red;
}
.green{
  color: green;
}
